body{
	margin-left: 0px;
	margin-right: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  //height: 78px;
  background-color: rgb(174, 214, 145);
  border-radius: 0px;
  border-top: 5px solid rgb(41, 74, 112);
  border-left: 5px solid rgb(41, 74, 112);
  border-right: 5px solid rgb(41, 74, 112);
  border-bottom: 5px solid rgb(244, 160, 36);
  font-size: 30px;
}

li {
  float: left;

}

li a {
  display: block;
  font-family: sans-serif;
  font-weight: bold;
  color: black;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  border: 2px solid transparent;
}

li a:hover {
  background-color: rgb(41, 74, 112);
  color: rgb(244, 160, 36);
  border: 2px solid rgb(244, 160, 36);
  display: block;
}

li2 {
  float: right;

}

li2 a {
  display: block;
  font-family: sans-serif;
  font-weight: bold;
  color: black;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  border: 2px solid transparent;
}

li2 a:hover {
  background-color: rgb(41, 74, 112);
  color: rgb(244, 160, 36);
  border: 2px solid rgb(244, 160, 36);
  display: block;
}


.grid-container { //Background Properties
  display: grid;
  //grid-gap: 10px;
  background-color: rgb(41, 74, 112);
  padding: -5px;
  //border-radius: 10px;
  //grid-template-rows: auto;
  //grid-template-columns: .60fr .75fr 1fr;
  border-top: 1px solid rgb(244, 160, 36);
  border-left: 5px solid rgb(41, 74, 112);
  border-right: 5px solid rgb(41, 74, 112);
  border-bottom: 5px solid rgb(41, 74, 112);
  height: 100vh;
  //width: 100%;
  margin-right: -9px;
  }

 .grid-container2 { //Grid Properties
  display: grid;
  //grid-gap: 10px;
  background-color: rgb(41, 74, 112);
  padding: -5px;
  //border-radius: 10px;
  //grid-template-rows: auto;
  //grid-template-columns: .60fr .75fr 1fr;
  border-top: 1px solid rgb(244, 160, 36);
  border-left: 5px solid rgb(41, 74, 112);
  border-right: 5px solid rgb(41, 74, 112);
  border-bottom: 5px solid rgb(41, 74, 112);
  //height: 100vh;
  //width: 100%;
  margin-right: -9px;
  }

.grid-container > div { //Grid Properties
  background-color: white;
  font-family: sans-serif;
  padding: 20px;
  font-size: 30px;
  //border-radius: 4px;
  //border: 2px solid #4d5a66;
  //margin-left: 15px;
  //height: 100px;
  }

.item1 {  //HEADER
  border-radius: 15px 42px;
  border: 0px;
  background-color: rgb(41, 74, 112);
  color: rgb(244, 160, 36);
  font-weight: bold;
  text-align: center;
  height: 5%;
  }

.item12 {  //HEADER
  border-radius: 15px 42px;
  border: 0px;
  background-color: rgb(41, 74, 112);
  color: rgb(244, 160, 36);
  font-weight: bold;
  text-align: center;
  height: 5%;
  }

 .item2 {  //HEADER
  font-family: sans-serif;
  //border-radius: 15px 42px;
  border: 2px solid rgb(244, 160, 36);
  background-color: white;
  height: 85%;
  text-align: justify;
  }

 .item22 {  //HEADER
  font-family: sans-serif;
  //border-radius: 15px 42px;
  border: 2px solid rgb(244, 160, 36);
  background-color: white;
  height: 85%;
  text-align: justify;
  margin-top: -85px
  }


p1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
	margin: 20px;
}

p2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
	text-align: right;
	color: rgb(174, 214, 145);
	text-shadow: -2px 0 rgb(41, 74, 112), 0 2px rgb(41, 74, 112), 2px 0 rgb(41, 74, 112), 0 -2px rgb(41, 74, 112);
}

img {
	margin-left: 10px;
	width: 300px;
	height: 120px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



